HTTP_PORT=9100
# GRPC_PORT=8090
METRICS_PORT=2190
APP_NAME=airportslive-data
LOG_LEVEL=DEBUG

ACCESS_CONTROL_ALLOW_ORIGIN=http://localhost:4567
#ACCESS_CONTROL_ALLOW_CREDENTIALS=true
# ACCESS_CONTROL_EXPOSE_HEADERS=X-New-Token

REDIS_HOST=localhost
REDIS_PORT=46379

DB_HOST=localhost
DB_USER=airportslive
DB_PASSWORD='NOT_SET'
DB_NAME=airportslive
DB_PORT=45432
DB_DIALECT=postgres
DB_MAX_IDLE_CONNECTION=5
DB_MAX_OPEN_CONNECTION=200

PUBSUB_BACKEND=MQTT                             # using MQTT as pubsub
MQTT_HOST=localhost                             # broker host URL
MQTT_PORT=8883                                  # broker port
MQTT_CLIENT_ID_SUFFIX=airportslive-processor    # suffix to a random generated client-id(uuid v4)
