HTTP_PORT=9101
METRICS_PORT=2191
APP_NAME=airportslive-cronjobs
LOG_LEVEL=DEBUG

CRON_SCHEDULE_YT_QUERYLIVESTREAMS=0 */1 * * *
YT_API_KEY=NOT_SET

REDIS_HOST=localhost
REDIS_PORT=46379

DB_HOST=localhost
DB_USER=airportslive
DB_PASSWORD='NOT_SET'
DB_NAME=airportslive
DB_PORT=45432
DB_DIALECT=postgres

PUBSUB_BACKEND=MQTT                         # using MQTT as pubsub
MQTT_HOST=localhost                         # broker host URL
MQTT_PORT=8883                              # broker port
MQTT_CLIENT_ID_SUFFIX=airportslive-cronjobs # suffix to a random generated client-id(uuid v4)
